.title {
  margin-top: 15rem;
  width: 100%;
  max-width: 60%;
  background: #555555;
  z-index: 5;
  flex-grow: 1;
}

.para {
  /* align-items: center; */
  color: #fcfcfc;
  text-align: center;
  flex-grow: 1;
}
