@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 0.5rem; /* Width of the scrollbar */
}

/* Style the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 1rem; /* Rounded corners */
}

/* Style the scrollbar track (background) */
::-webkit-scrollbar-track {
  background: none; /* Color of the track */
}
